[Desktop Entry]
NoDisplay=true
Type=Application
Name=FL Studio REG
Comment=Additional desktop shortcut for opening .reg files in the FL Studio Wine prefix
Exec=/.local/share/applications/fl-studio-integrator-reg %f
Icon=/.local/share/applications/fl-studio
MimeType=text/x-ms-regedit;
